<h1>Editing Purchase</h1>

<%= render 'form', purchase: @purchase %>

<%= link_to 'Show', @purchase, class: 'btn btn-primary',  style: 'color: white' %> |
<%= link_to 'Back', purchases_path, class: 'btn btn-primary',  style: 'color: white' %>
